<h1>Books</h1>
<% @books.each do |book| %>
  <table>
    <thead>
      <th>Title</th>
      <th>Body</th>
      <th co|span="3"></th>
    </thead>
  </table>
<% end %>
<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body<h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>
  